@page
@model Magazine19966292.Pages.MagazineTest.SubscribeModel
@{
    ViewData["Title"] = "Subscribe";
}



<style>
    img {
        width: 100%;
        height: auto;
    }
</style>


@{
    int flag = (int)ViewData["flag"];
    switch (flag)
    {
        case 0:
            <h4>You have subscribed <strong>@ViewData["MagazineName"]</strong></h4>
            <img src="~/images/@(ViewData["MagazineName"]+".jpg")" />
            <h3>Total price: $@ViewData["TotalPrice"].</h3>
            break;
        case 1:
            <h4>We did not find the magazine you were looking for.</h4>
            break;
        case 2:
            <h4> The number entered is less than 1.</h4>
            break;
    }
}

